[Unit]
Description=Swagger OpenAPI UI Server
After=network.target

[Service]
ExecStart=/root/.nvm/versions/node/v22.14.0/bin/node /root/spec_creator/specs/app.js
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=spec-creator
User=root
Group=root
Environment=NODE_ENV=production
Environment=PORT=9876
WorkingDirectory=/root/spec_creator/specs

[Install]
WantedBy=multi-user.target 